<section id="pricing-table">
    <div class="container">
        <div class="row">
            <div class="pricing">
                <div class="col-md-4 col-sm-12 col-xs-12">
                    <div class="pricing-table">
                        <div class="pricing-header">
                            <p class="pricing-title">Add your cost to the system</p>
                        </div>

                        <div class="pricing-list">
                        <ul>
                            <li><span class="glyphicon glyphicon-user" aria-hidden="true"></span>Name</li>
                            <input type="text" placeholder="Your name" required="" ng-model="name"  />
                            <li><span class="glyphicon glyphicon-text-background" aria-hidden="true"></span>Description</li>
                            <input type="text" placeholder="Your name" required="" ng-model="name"  />
                            <li><span class="glyphicon glyphicon-usd" aria-hidden="true"></span>Money Spent</li>
                            <input type="text" placeholder="Your name" required="" ng-model="name"  />
                            
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>